.feedback {
  background: #363636;
  &__container {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1143px;
    margin: 0 auto;
    @media (max-width: 1250px) {
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }
    .feedback__title {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 55px;
      color: var(--color-white);
      @media (max-width: 768px) {
        font-size: 34px;
        line-height: 40px;
        display: grid;
      }
    }
    .feedback__contacts {
      max-width: 640px;
      width: 100%;
      @media (max-width: 768px) {
        margin: 0 auto;
        width: initial;
      }
      .feedback-contacts__title {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 0px;
        color: var(--color-white);
        margin-bottom: 48px;
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }
      .feedback-contacts__forms {
        margin-bottom: 32px;
        width: 100%;
        @media (max-width: 768px) {
          width: 311px;
        }
        .row-input {
          display: inline-block;
          width: 100%;
        }
        .feedback-contacts__form {
          margin-bottom: 28px;
          width: 100%;
          gap: 20px;
        }
        .forms__title {
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 1px;
          color: var(--color-white);
          margin-bottom: 8px;
        }
        .forms__names {
          display: flex;
          .forms-names__first {
            width: 50%;
            @media (max-width: 768px) {
              width: 100%;
            }
            .forms-names__first-input {
              margin-right: 8px;
            }
          }
          .forms-names__last {
            width: 50%;
            @media (max-width: 768px) {
              width: 100%;
            }
          }
          @media (max-width: 768px) {
            display: grid;
            grid-gap: 20px;
          }
        }
        .forms-message__input {
          padding-bottom: 75px;
        }
        .feedback-contacts__btn {
          margin-top: 30px;
          display: inline-block;
          padding: 17.5px 82px;
          background: var(--color-orange);
          border-radius: 4px;
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: var(--color-white);
          position: relative;
          max-height: 53px;
          border-radius: 5px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
          &::after {
            content: "";
            border-radius: 5px;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
            opacity: 0;
            transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
          }
          &:hover {
            transform: scale(1.3, 1.3);
          }
          &:hover::after {
            opacity: 1;
          }
        }
      }
      .forms-input {
        padding: 9px 13px;
        box-sizing: border-box;
        background: var(--color-white);
        border: 1px solid #d2d6da;
        border-radius: 8px;
        flex: 0 1 50%;
        width: 100%;
        margin-top: 8px;
        &:focus {
          background: rgb(185, 203, 218);
        }
        &:invalid {
          border: 2px solid red;
        }

        &:invalid:required {
          border: 2px solid red;          
        }

        &:valid {
          border: 2px solid green;
        }
      }
    }
  }
}
