.authentication__container .authentication__swiper .authentication__dots {
    position:absolute;
    // bottom: 50px;
    top:80px;
    right: 50px;
    // left: 50px;
    gap: 12px;
    height: 84px;
    justify-items: center;
    justify-content: end;
    @media (max-width: 1300px) {
        position: initial;
        justify-content: center;
    }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  line-height: 20;
  font-size: 14px;
  background-color: white;
}

