@font-face {
	font-weight: 400;
	font-family: 'Proxima Nova';
	font-style: normal;
	src: url(../fonts/ProximaNova-Regular.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-weight: 500;
	font-family: 'Proxima Nova';
	font-style: normal;
	src: url(../fonts/ProximaNova-Semibold.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-weight: 600;
	font-family: 'Proxima Nova';
	font-style: normal;
	src: url(../fonts/ProximaNova-Medium.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-weight: 700;
	font-family: 'Proxima Nova';
	font-style: normal;
	src: url(../fonts/ProximaNova-Bold.woff) format('woff');
	font-display: swap;
}
@font-face {
    font-weight: 700;
	font-family: 'Raleway';
	font-style: normal;
	src: url(../fonts/Raleway-Medium.woff) format('woff');
	font-display: swap;
}

